@model inube.Services.Notification.Models.ContractModel

@{
    ViewData["Title"] = "ContractTemplate";
}


<!DOCTYPE html>

<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            width: auto;
            border-collapse: collapse;
        }
    </style>
</head>
<body>

    <div class="container" style="padding: 20px;">
        <table class="table table-condensed" style="width:100%;border: 1px solid #000;padding: 5px; background-image:url(/images/watermark.jpg);background-repeat:repeat">
            <tbody>
                <tr style="width: 100%">
                    <td style="width: 50%; vertical-align: top; padding: 5px;border: 1px solid #000;">
                        <img src="~/images/PNBAllianz.png" style="float: left;">
                    </td>

                    <td rowspan="2" style="width: 100%; border: 1px solid #000;">
                        <table style="width: 100%">
                            <tbody>
                                <tr>

                                    <td style="width: 50%;padding: 5px;border: 1px solid #000;">
                                        <span><strong>Policies and Procedures</strong></span><br>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 100%;padding: 5px;border: 1px solid #000;">
                                        <span><strong>LEADER EXPANSION AGENCY PROGRAM (L.E.A.P)</strong></span><br>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <div>
            <p style="text-align:center;">
                <span><strong><u>GOAL SHEET - LEADER (EXTERNAL)</u></strong></span>
            </p>
            <p style="text-align:center;">  <span style="float:unset;"><strong>Managing Partner - Level 1</strong></span></p>

        </div>
        <br />
        <table style="width: 100%">
            <thead>
                <tr bgcolor="#ccddff">
                    <th style="border: 1px solid #000;padding: 5px;">Managing Partner</th>
                    <th style="border: 1px solid #000;padding: 5px;">Level 1</th>
                </tr>
            </thead>

            <tbody>
                <tr style="text-align:center;" bgcolor="#e6eeff">
                    <td style="border: 1px solid #000;padding: 5px;"> Allowance </td>
                    <td style="border: 1px solid #000;padding: 5px;" bgcolor="#ffe6ff">@Html.DisplayFor(model => model.Allowance)</td>
                </tr>
                <tr style="text-align:center;" bgcolor="#e6eeff">
                    <td style="border: 1px solid #000;padding: 5px;">Total Cost</td>
                    <td style="border: 1px solid #000;padding: 5px;" bgcolor="#ffe6ff">@Html.DisplayFor(model => model.TotalCost)</td>
                </tr>
                <tr style="text-align:center;" bgcolor="#e6eeff">
                    <td style="border: 1px solid #000;padding: 5px;">ANP Target</td>
                    <td style="border: 1px solid #000;padding: 5px;" bgcolor="#ffe6ff">@Html.DisplayFor(model => model.AnpTarget) </td>
                </tr>
            </tbody>
        </table>
        <br />

        <table style="width: 100%">

            @{ var year = 1;
                @for (var i = 0; i < Model.lstANPModels.Count; i++)
                {
                    if (i == 0)
                    {
                        <thead>
                            <tr bgcolor="#ccddff">
                                <th style="border: 1px solid #000;padding: 5px;">Level 1</th>
                                <th style="border: 1px solid #000;padding: 5px;">Monthly ANP</th>
                                <th style="border: 1px solid #000;padding: 5px;">Cumalative ANP</th>
                                <th style="border: 1px solid #000;padding: 5px;">Ending ManPower</th>
                                <th style="border: 1px solid #000;padding: 5px;">Activity Ratio</th>
                                <th style="border: 1px solid #000;padding: 5px;">Active Agent</th>
                            </tr>
                        </thead>
                    }
                    <tbody>
                        @if (i == 11)
                        {
                            <tr bgcolor="#e6eeff">
                                <td style="border: 1px solid #000;padding: 5px;"> Year 1 Total </td>
                                <td style="border: 1px solid #000;padding: 5px;text-align:center" ; bgcolor="white" ;>@Model.lstANPModels[i].MonthlyAnp</td>
                                <td style="border: 1px solid #000;padding: 5px;text-align:center" ; bgcolor="white" ;>@Model.lstANPModels[i].CumulativeAnp</td>
                                <td style="border: 1px solid #000;padding: 5px;text-align:center" ; bgcolor="white">@Model.lstANPModels[i].EndingManpower </td>
                                <td style="border: 1px solid #000;padding: 5px;text-align:center" bgcolor="white">@Model.lstANPModels[i].ActivityRatio</td>
                                <td style="border: 1px solid #000;padding: 5px;text-align:center" ; bgcolor="white">@Model.lstANPModels[i].ActiveAgent </td>
                            </tr>
                        }

                        @if (i == 23)
                        {
                            <tr bgcolor="#e6eeff">
                                <td style="border: 1px solid #000;padding: 5px;"> Year 2 Total </td>
                                <td style="border: 1px solid #000;padding: 5px;text-align:center" ; bgcolor="white" ;>@Model.lstANPModels[i].MonthlyAnp</td>
                                <td style="border: 1px solid #000;padding: 5px;text-align:center" ; bgcolor="white" ;>@Model.lstANPModels[i].CumulativeAnp</td>
                                <td style="border: 1px solid #000;padding: 5px;text-align:center" ; bgcolor="white">@Model.lstANPModels[i].EndingManpower </td>
                                <td style="border: 1px solid #000;padding: 5px;text-align:center" bgcolor="white">@Model.lstANPModels[i].ActivityRatio </td>
                                <td style="border: 1px solid #000;padding: 5px;text-align:center" ; bgcolor="white">@Model.lstANPModels[i].ActiveAgent </td>
                            </tr>
                        }

                        @if (i == 35)
                        {
                            <tr bgcolor="#e6eeff">
                                <td style="border: 1px solid #000;padding: 5px;"> Year 3 Total </td>
                                <td style="border: 1px solid #000;padding: 5px;text-align:center" ; bgcolor="white" ;>@Model.lstANPModels[i].MonthlyAnp</td>
                                <td style="border: 1px solid #000;padding: 5px;text-align:center" ; bgcolor="white" ;>@Model.lstANPModels[i].CumulativeAnp</td>
                                <td style="border: 1px solid #000;padding: 5px;text-align:center" ; bgcolor="white">@Model.lstANPModels[i].EndingManpower </td>
                                <td style="border: 1px solid #000;padding: 5px;text-align:center" bgcolor="white">@Model.lstANPModels[i].ActivityRatio</td>
                                <td style="border: 1px solid #000;padding: 5px;text-align:center" ; bgcolor="white">@Model.lstANPModels[i].ActiveAgent</td>
                            </tr>
                        }

                    </tbody>
                }
            }
        </table>


        <br />

        @{ var total = 1;
            @for (var i = total; i < Model.lstANPModels.Count; i++)
            {
                <table style="width: 100%">
                    @if (total == 1)
                    {
                        <thead>
                            <caption> <strong>Year 1</strong></caption>
                            <br />
                            <tr bgcolor="#ccddff">
                                <th style="border: 1px solid #000;padding: 5px;">Level 1</th>
                                <th style="border: 1px solid #000;padding: 5px;">Monthly ANP</th>
                                <th style="border: 1px solid #000;padding: 5px;">Cumalative ANP</th>
                                <th style="border: 1px solid #000;padding: 5px;">Ending ManPower</th>
                                <th style="border: 1px solid #000;padding: 5px;">Activity Ratio</th>
                                <th style="border: 1px solid #000;padding: 5px;">Active Agent</th>
                            </tr>
                        </thead>
                    }

                    @if (total <= 12)
                    {
                        <tbody>
                            <tr bgcolor="#e6eeff">
                                <td style="border: 1px solid #000;padding: 5px;"> Month @total </td>
                                <td style="border: 1px solid #000;padding: 5px;text-align:center" ; bgcolor="white">@Model.lstANPModels[i].MonthlyAnp</td>
                                <td style="border: 1px solid #000;padding: 5px;text-align:center" ; bgcolor="white">@Model.lstANPModels[i].CumulativeAnp</td>
                                <td style="border: 1px solid #000;padding: 5px;text-align:center" ; bgcolor="white">@Model.lstANPModels[i].EndingManpower</td>
                                <td style="border: 1px solid #000;padding: 5px;text-align:center" bgcolor="white">@Model.lstANPModels[i].ActivityRatio</td>
                                <td style="border: 1px solid #000;padding: 5px;text-align:center" ; bgcolor="white">@Model.lstANPModels[i].ActiveAgent</td>
                            </tr>
                        </tbody>
                    }
                </table>

                <table style="width: 100%">
                    @if (total > 12 && total <= 24)
                    {
                        if (total == 13)
                        {
                            <thead>
                                <caption><strong>Year 2</strong></caption>
                                <br />
                                <tr bgcolor="#ccddff">
                                    <th style="border: 1px solid #000;padding: 5px;">Level 1</th>
                                    <th style="border: 1px solid #000;padding: 5px;">Monthly ANP</th>
                                    <th style="border: 1px solid #000;padding: 5px;">Cumalative ANP</th>
                                    <th style="border: 1px solid #000;padding: 5px;">Ending ManPower</th>
                                    <th style="border: 1px solid #000;padding: 5px;">Activity Ratio</th>
                                    <th style="border: 1px solid #000;padding: 5px;">Active Agent</th>
                                </tr>
                            </thead>

                        }

                        <tbody>
                            <tr bgcolor="#e6eeff">
                                <td style="border: 1px solid #000;padding: 5px;"> Month @total </td>
                                <td style="border: 1px solid #000;padding: 5px;text-align:center" ; bgcolor="white">@Model.lstANPModels[i].MonthlyAnp</td>
                                <td style="border: 1px solid #000;padding: 5px;text-align:center" ; bgcolor="white">@Model.lstANPModels[i].CumulativeAnp</td>
                                <td style="border: 1px solid #000;padding: 5px;text-align:center" ; bgcolor="white">@Model.lstANPModels[i].EndingManpower</td>
                                <td style="border: 1px solid #000;padding: 5px;text-align:center" bgcolor="white">@Model.lstANPModels[i].ActivityRatio</td>
                                <td style="border: 1px solid #000;padding: 5px;text-align:center" ; bgcolor="white">@Model.lstANPModels[i].ActiveAgent</td>
                            </tr>
                        </tbody>
                    }
                </table>

                <table style="width: 100%">
                    @if (total > 24 && total <= 36)
                    {
                        @if (total == 25)
                        {
                            <caption><strong>Year 3</strong></caption>
                            <br />
                            <thead>
                                <tr bgcolor="#ccddff">
                                    <th style="border: 1px solid #000;padding: 5px;">Level 1</th>
                                    <th style="border: 1px solid #000;padding: 5px;">Monthly ANP</th>
                                    <th style="border: 1px solid #000;padding: 5px;">Cumalative ANP</th>
                                    <th style="border: 1px solid #000;padding: 5px;">Ending ManPower</th>
                                    <th style="border: 1px solid #000;padding: 5px;">Activity Ratio</th>
                                    <th style="border: 1px solid #000;padding: 5px;">Active Agent</th>
                                </tr>
                            </thead>
                        }

                        <tbody>
                            <tr bgcolor="#e6eeff">
                                <td style="border: 1px solid #000;padding: 5px;"> Month @total </td>
                                <td style="border: 1px solid #000;padding: 5px;text-align:center" ; bgcolor="white">@Model.lstANPModels[i].MonthlyAnp</td>
                                <td style="border: 1px solid #000;padding: 5px;text-align:center" ; bgcolor="white">@Model.lstANPModels[i].CumulativeAnp</td>
                                <td style="border: 1px solid #000;padding: 5px;text-align:center" ; bgcolor="white">@Model.lstANPModels[i].EndingManpower</td>
                                <td style="border: 1px solid #000;padding: 5px;text-align:center" bgcolor="white">@Model.lstANPModels[i].ActivityRatio</td>
                                <td style="border: 1px solid #000;padding: 5px;text-align:center" ; bgcolor="white">@Model.lstANPModels[i].ActiveAgent</td>
                            </tr>
                        </tbody>
                    }
                </table>

                total = total + 1;
            }

        }
    </div>
</body>
</html> 